@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #2C5D7D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/* your flipbook */
.flipbook {
  width: 3457px;
  height: 1152px;
}

/* pages inside flipbook */
.flipbook > div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipbook .hard {
    background: #242424 !important;
    color: #fff;
    font-weight: bold;
    border: none; 
  background: #242424 !important;
  color: #fff;
  font-weight: bold;
  border: none;
}



.flipbook img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* rotate message */
#rotate-msg {
  display: none;
  position: fixed;
  inset: 0;
  background: #2C5D7D;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 1000;
}
